<div class="jumbotron">
    <h1 class="display-3"><%if (nav == data.userName) {%><%- data.name%><%}%> <%if (nav !== data.userName){%><%- data2.name%><%}%></h1>
    <p class="lead"><%if (nav == data.userName) {%><%-data.bio%><%} if(nav !== data.userName) {%><%- data2.bio%><%}%></p>
    <hr class="my-4">
    <p class="lead">
    <%if (nav == data.userName) {%>
    <a class="btn btn-primary btn-lg" href="/user/<%- data.userName %>/settings" role="button">Settings</a>
    <a class="btn btn-primary btn-lg" href="/delete/<%- data.userName %>" role="button">Delete Account</a>
    <%}%>
  </p>
</div>
<%if (nav == data.userName) {%>
<div class="form-group">
  <form action="/user/<%- data.userName %>" method="POST">
      <div class="form-group">
          <label for="content">post</label>
          <input
            type="content"
            id="content"
            name="content"
            class="form-control"
            placeholder="Enter post"
            value="<%= typeof content != 'undefined' ? content : '' %>"
          />
          <button type="submit" class="btn btn-primary btn-block">post</button>
      </div>
  </form>
</div>
<%}%>
<%if (nav == data.userName) {%>
<% for( let post of posts || [] ){ %>
  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header"><%- data.name%></div>
    <div class="card-body">
      <p class="card-text"><%=post.content%></p>
    </div>
  </div>
  <%}%>
<%}%>

<%if (nav !== data.userName) {%>
  <% for( let post of posts2 || [] ){ %>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header"><%- data2.name%></div>
      <div class="card-body">
        <p class="card-text"><%=post.content%></p>
      </div>
    </div>
    <%}%>
  <%}%>